<section class="movies">
  <div class="movies_section_title">
    <h2>This Week</h2>
  </div>
  <div class="movies_list">
    <%= render @movies %>
  </div>
</section>

<section class="movies">
  <div class="movies_section_title">
    <h2>All Time</h2>
  </div>
  <div class="movies_list">
    <%= render @movies %>
  </div>
</section>
