section.reviews {
  div.reviews_header {
    height: 50px;
    background: #333333;
    text-align: center;

    h2 {
      padding-top: 10px !important;
      font-size: 24px;
      font-weight: bold;
      color: #F2F2F2;
    }
  }

  div.reviews_list {
    margin-top: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;

    div.review_info {
      div.review_user {
        p {
          font-size: 14px;
          font-weight: bold;
          color: #333333;
        }
      }
      div.review_comment {
        p {
          font-size: 14px;
          font-weight: normal;
          color: #333333;
        }
      }
    }

    div.review_rating {
      min-height: 50px;
      min-width: 50px;
      max-height: 50px;
      max-width: 50px;
      background: #27AE60;
      text-align: center;

      h3 {
        padding-top: 2px !important;
        font-size: 24px;
        font-weight: bold;
        color: #F2F2F2;
      }
    }

  }
}